
    <!-- Testimonial Start -->
    <div class="container-fluid p-0 py-5">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 500px;">
                <div class="h-100 position-relative overflow-hidden" style="border-top-left-radius: 50%;">
                    <img class="position-absolute w-100 h-100" src="img/testimonial.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 bg-dark p-5 overflow-hidden wow fadeIn" data-wow-delay="0.3s" style="border-bottom-right-radius: 50%;">
                <div class="mb-5">
                    <h5 class="section-title">Testimonial</h5>
                    <h1 class="display-3 text-secondary mb-0">Our Client Say</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item">
                        <p class="fs-4 fw-normal text-light mb-4"><i
                                class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor
                            et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore
                            et tempor diam tempor erat dolor rebum sit ipsum.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" alt="">
                            <div class="ps-4">
                                <h5 class="text-secondary">Client Name</h5>
                                <span class="small text-uppercase text-secondary"
                                    style="letter-spacing: 3px;">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="fs-4 fw-normal text-light mb-4"><i
                                class="fa fa-quote-left text-primary me-3"></i>Dolores sed duo clita tempor justo dolor
                            et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore
                            et tempor diam tempor erat dolor rebum sit ipsum.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" alt="">
                            <div class="ps-4">
                                <h5 class="text-secondary">Client Name</h5>
                                <span class="small text-uppercase text-secondary"
                                    style="letter-spacing: 3px;">Profession</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{{> instagram}}